<!DOCTYPE html>
<html>
 <nav>
    <a href="/">Home</a> |
    <a href="/add/">AddProduct</a> |
    <a href="/locations/"> Our Locations</a>
 </nav>
<head>
    <title>Add Product</title>
</head>
<body>
    <h1>Add Product</h1>
    <form method="post">
        {% csrf_token %}
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description"></textarea><br>
        <label for="price">Price:</label><br>
        <input type="text" id="price" name="price"><br>
        <label for="quantity">Quantity:</label><br>
        <input type="text" id="quantity" name="quantity"><br>
        <label for="location">LocationId:</label><br>
        <input type="text" id="locationId" name="location"><br>
        <input type="submit" value="Add Product"><br>

    </form>
</body>
</html>
