<!DOCTYPE html>
<html>
 <nav>
        <a href="/">Home</a> |
        <a href="/add/">AddProduct</a> |
        <a href="/locations/"> Our Locations</a>
 </nav>
<head>
    <title>Location Information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Location Information</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>LocationId</th>
                    <th>Location Address</th>
                    <th>Location City</th>
                    <th>Location State</th>
                    <th>LocationId</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.locationId }}</td>
                    <td>{{ product.location_state}}</td>
                    <td>{{ product.location_city }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.locationId }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
