<!DOCTYPE html>
<html>
 <nav>
        <a href="/">Home</a> |
        <a href="/add/">AddProduct</a> |
        <a href="/locations/"> Our Locations</a>
 </nav>
<head>
    <title>Product Inventory</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Product Inventory</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Size</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Quantity</th>                 
                    <th>LocationId</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.productid }}</td>
                    <td>{{ product.size }}</td>
                    <td>{{ product.type }}</td>
                    <td>{{ product.price }}</td>

                    {% for inventory in inventorys %}
                    <td>{{ inventory.quantity }}</td>
                    {% endfor %}

                    {% for location in locations %}
                        <td>{{ location.locationid }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}


            </tbody>
        </table>
    </div>
</body>
</html>
